name: flutter_social_platform_share
description: "A Flutter plugin for sharing images to social platforms like Facebook through there SDKs."
version: 1.0.1
homepage: https://github.com/dovire/flutter_social_share

environment:
  sdk: ^3.0.0
  flutter: '>=3.3.0'

dependencies:
  flutter:
    sdk: flutter
  plugin_platform_interface: ^2.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  plugin:
    platforms:
      android:
        package: com.dovireinfotech.flutter_social_share
        pluginClass: FlutterSocialSharePlugin
      ios:
        pluginClass: FlutterSocialSharePlugin